<section class="py-5 data">
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
           <h5 class="text-center py-3">LOGIN</h5>
           <div class="box d-flex gap-3 py-3">
            <div>
            <input type="radio" name="LOGIN" id="">
            <label for="">Student</label>
            </div>
            <div>
                <input type="radio" name="LOGIN" id="">
                <label for="">Doctor</label>
            </div>
          
           
           </div>
           <form>
            <input type="email" placeholder="Email" class="form-control" formControlName="email">
            <input type="password" placeholder="password" class="form-control" formControlName="password">
            <div class="btn">
                <button class="btn btn-dark">Login</button>
            </div>

        </form>
       <p class="text-center" routerLink="/resgiter">you dont have account?</p>
        </div>
      </div>
    
    </div>
</section>
