<section class="py-5 register">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex py-3">
            <div class="col-md-5">
                <div class="box">
                    <h4 class="text-center">Regsiter</h4>
                    <form>
                        <label for="FullName">FullName:</label>
                        <div class="py-1">
                            <input type="text" class="form-control" name="name" id="name" required />
                        </div>
                        <div>

                        </div>

                        <label for="email">Email:</label>
                        <div class="py-1">
                            <input type="email" class="form-control" name="email" id="email" required />
                        </div>
                        <div>

                        </div>

                        <label for="Password">Password:</label>
                        <div class="py-1">
                            <input type="password" class="form-control" name="password" id="password" autocomplete
                                required />
                        </div>
                        <div>

                        </div>

                        <label for="Confirm">Confirm Password:</label>
                        <div class="py-1">
                            <input type="password" class="form-control" name="rePassword" id="rePassword" required />
                        </div>


                        <div class="justify-content-center align-items-center d-flex py-4">
                            <button type="submit" class="btn btn-dark">Register Now</button>
                        </div>
                    </form>
                </div>
            </div>
         
        </div>
    </div>

</section>
raina jlkhk